<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="Compra_ModificaCosto" value="0"/>
  </appSettings>
  <connectionStrings>
    <add name="Servidor" connectionString="Server=PC-OCA-3\SQLEXPRESS;Database=JSBAck;User Id=sa;Password=19640328;Timeout=20;MultipleActiveResultSets=True;"/>
  </connectionStrings>
  <log4net>
    <appender name="LOG" type="log4net.Appender.RollingFileAppender">
      <file value=".\Logs\MLog"/>
      <encoding value="utf-8"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="_yyyyMMdd'.log'"/>
      <staticLogFileName value="false"/>
      <!--<rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="5MB" />
      <staticLogFileName value="true" />-->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%n"/>
      </layout>
    </appender>
    <root>
      <level value="All"/>
      <!-- If the following line is not included the log file 
      will not be created even if log4net is configured with this file. -->
      <appender-ref ref="LOG"/>
    </root>
  </log4net>
</configuration>
